body	{
  padding-top:	60px;
}
.center		{
  text-align:		center;
}
select.number {
  font-size:    300%;
}
#passwords {
  font-size:		150%;
  text-align:		center;
}
/*
#password_copy {
  display : none;
}
*/
#password_stock {
  display:none;
}